.3rd-party-licenses.txt
*.exe
*.reg
*.dll
*.xsl
*.lua
*.crt
licenses/
nselib/
py2exe/
share/
.LICENSE
.NDIFF_README
.nmap-mac-prefixes
.nmap-os-db
.nmap-payloads
.nmap-rpc
.nmap-protocols
.nmap-service-probes
.nmap-services
.README-WIN32
.ZENMAP_README
.CHANGELOG
.COPYING_HIGWIDGETS

